<h1>Digimons</h1>

<nav>
  <a [routerLink]="['/']">Inicio</a>

  <a *ngIf="!isLoggedIn; else btnLogout" [routerLink]="['/login']">Login</a>

  <ng-template #btnLogout>
    <button type="button" (click)="logout()">Logout</button>
  </ng-template>

  <video src="assets/video.mp4" #video width="300"></video>
  <button type="button" (click)="video.play()">Play</button>
  <button type="button" (click)="video.pause()">Pause</button>
  <input type="range" min="0" max="100" (input)="cambiarVolumen(video, $event)" />

</nav>

<router-outlet></router-outlet>