<h2>{{ 'PIPES.title' | translate }}</h2>

<select (change)="cambiarLenguaje($event)">
  <option *ngFor="let lang of lenguajes" [value]="lang" [selected]="lang === lenguajeSeleccionado">{{ 'PIPES.SELECT.' + lang | translate }}</option>
</select>

<button (click)="cuenta = cuenta + 1">{{cuenta}}</button>

<div>
  <h3>{{producto.nombre | uppercase | lowercase | titlecase}}</h3>
  <!-- <h3 style="text-transform: uppercase;">{{producto.nombre}}</h3>
  <h3 [ngStyle]="{ 'text-transform': opcion }">{{producto.nombre}}</h3> -->
  <p>{{producto.descripcion | slice:0:150}}...</p>
  <!-- <p>Precio: {{producto.precio | currency:'EUR'}}</p> -->
  <p>{{ 'PIPES.price' | translate }}: {{producto.precio | descuento:10 | currency:'EUR':undefined:undefined:lenguajeSeleccionado}}</p>

  <p>{{ 'PIPES.date' | translate }}: {{producto.fechaCompra | date:'mediumDate':undefined:lenguajeSeleccionado}}</p>
</div>

<p>{{producto | json}}</p>
<p>{{nombresProductos | async | json}}</p>

<input type="text" (change)="addColor($event)">
<ul>
  <li *ngFor="let color of colores">{{color}}</li>
</ul>

<input type="text" [(ngModel)]="textoFiltro">
<ul>
  <li *ngFor="let color of colores | filtro:textoFiltro">{{color}}</li>
</ul>

<p>- {{ 'NO_EXISTE' | translate }}</p>